<%- include("partials/header") %>
    <h1>Its HOME</h1>
    <p>
        <%= homeText %>
    </p>
    <% posts.forEach(function(text){ %>
        <h1>
            <%= text.title %>
        </h1>
        <p>
            <%= text.postText%>
        </p>


        <% });%>
            <%- include("partials/footer") %>